{% extends "admin/base.twig" %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
           {% for row in static('Cms','langs') %}
                toggleEditor("edytor{{ row.code }}");
           {% endfor %}
        });        
    </script>
{% endblock %}

{% block content %}
<h3 class="page-title">{{ pageTitle }}
</h3>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Form Sample</span>
            <span class="caption-helper">form actions without bg color</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="btn-group">
            <a class="btn btn-default" href="?"><i class="fa fa-arrow-left"></i> {{ lang.back }}</a>
            <a class="btn btn-default active" href="?action=edit&amp;id={{ entity.id }}"><i class="fa fa-home"></i> {{ lang.basic_data }}</a>
            <a class="btn btn-default" href="?action=expanded&amp;id={{ entity.id }}"><i class="fa fa-globe"></i> {{ lang.extended_data }}</a>
            <a class="btn btn-default" href="?action=variation&amp;id={{ entity.id }}"><i class="fa fa-sitemap"></i> {{ lang.variations }}</a>
            <a class="btn btn-default" href="?action=image&amp;id={{ entity.id }}"><i class="fa fa-photo"></i> {{ lang.photos }}</a>
        </div>        

        <br /><br />
        <ul class="nav nav-tabs">  
            {% for row in static('Cms','langs') %}
            <li {% if row.code == constant('LOCALE') %}class="active"{% endif %}>
                <a href="#tab_{{ row.code }}" data-toggle="tab" aria-expanded="true"> {{ attribute(lang, row.code) }} 
                <img src="{{ constant('TPL_URL') }}/assets/global/img/flags/{{ row.code }}.png" alt="{{ row.name }}" title="{{ row.name }}" />
                </a>                
            </li>
            {% endfor %}
        </ul>  
        
        <form method="post" class="form-horizontal" action="{{ server('PHP_SELF') }}">
            <div class="form-body">  
{#                <div class="form-group">
                    <label class="col-md-3 control-label">{{ lang.product_name }}</label>
                    <div class="col-md-4">
                        <input class="form-control" type="text" name="name" value="{{ entity.name }}" />
                    </div>                     
                </div>#}
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ lang.category }}</label>
                    <div class="col-md-4">
                    {% for category in categories %}            
                        {% if loop.first %}<select class="form-control" name="category_id"><option value="">{{ lang.select }}</option>{% endif %}
                            <option value="{{ category.id }}" {% if entity.category_id == category.id %}selected="true"{% endif %}>{{ category.name }}</option>
                            {% for subcategory in category.subcategories %} 
                                <option value="{{ subcategory.id }}" {% if entity.category_id == subcategory.id %}selected="true"{% endif %}>&nbsp;&nbsp;&nbsp; {{ subcategory.name }}</option>
                            {% endfor %}
                        {% if loop.last %}</select>{% endif %}
                    {% endfor %}
                    </div>                     
                </div>                    
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ lang.manufacturer }}</label>
                    <div class="col-md-4">
                    {% for producer in producersSelect %} 
                       {% if loop.first %}<select class="form-control" name="producer_id"><option value="">{{ lang.select }}</option>{% endif %}
                          <option value="{{ producer.id }}" {% if entity.producer_id == producer.id %}selected="true"{% endif %}>{{ producer.name }}</option>
                       {% if loop.last %}</select>{% endif %}
                    {% endfor %}                        
                    </div>                     
                </div>                    
                <div class="form-group">
                    <label class="col-md-3 control-label">Status</label>
                    <div class="col-md-4">
                    {% for status in statuses %}
                        {% if loop.first %}<select class="form-control" name="status_id">{% endif %}
                           <option value="{{ status.id }}" {% if entity.status_id == status.id %}selected="true"{% endif %}>{{ status.name }}</option>
                        {% if loop.last %}</select>{% endif %}
                    {% endfor %}
                    </div>                     
                </div>                    
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ lang.type }}</label>
                    <div class="col-md-4">
                        <select class="form-control" name="type">
                           <option value="1" {% if entity.type == 1 %}selected{% endif %}>{{ lang.with_variations }}</option>
                           <option value="2" {% if entity.type == 2 %}selected{% endif %}>{{ lang.without_variations }}</option>
                        </select>
                    </div>                     
                </div>     

                <div class="tab-content">           
                    {% for row in static('Cms','langs') %}                                          
                        <div class="tab-pane fade {% if row.code == constant('LOCALE') %}active in{% endif %}" id="tab_{{ row.code }}">                
                            <div class="form-body">  
                                {% set tran = attribute(entity.trans, row.code) %}
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ lang.name }}</label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" name="{{ row.code }}[name]" value="{{ tran.name }}" />
                                    </div>                     
                                </div>      
                                    
                                <hr />
                                <h3>SEO</h3>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Seo Title</label>
                                    <div class="col-md-4">
                                        <input maxlength="60" name="{{ row.code }}[seo_title]" type="text" class="form-control" value="{{ tran.seo_title }}">
                                    </div>
                                </div>                              
                                <div class="form-group">
                                    <label class="col-md-3 control-label"> Meta description </label>
                                    <div class="col-md-4">
                                        <textarea class="form-control" name="{{ row.code }}[content_short]">{{ tran.content_short|raw }}</textarea>
                                    </div>                     
                                </div>
                                <hr />    
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ lang.desc }}</label>
                                    <div class="col-md-4">
                                        <textarea id="edytor{{ row.code }}" class="edytor" name="{{ row.code }}[content]">{{ tran.content|raw }}</textarea>
                                    </div>                     
                                </div>                                    
                            </div>             
                        </div>                                                                  
                    {% endfor%}            
                </div>                         
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="hidden" name="action" value="edit" />
                        <input type="hidden" name="id" value="{{ entity.id }}" />
                        <button class="btn green" type="submit">{{ lang.btn_save }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}