{% extends "admin/base.twig" %}

{% block content %}
<h3 class="page-title">{{ pageTitle }}</h3>

{% if url_back %}
    <a class="btn btn-default" href="{{ url_back }}"><i class="fa fa-arrow-left"></i> {{ lang.btn_back }}</a><br /><br /> 
{% endif %}
   
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase">Simple Table</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                    {% if url_add %}
                       <a href="{{ url_add }}">
                        <button id="sample_editable_1_new" class="btn sbold green"> {{ lang.add_new }}
                            <i class="fa fa-plus"></i>
                        </button>
                        </a>
                    {% endif %}                        
                    </div>
                </div>
            </div>
        </div>

        <div class="table-scrollable">
        {% for entity in entities %}
            {% if loop.first %}
                <table id="example" class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                <thead>
                    <tr>
                        <th>{{ lang.lp }}</th>
                        <th>{{ lang.id }}</th>
                        <th>{{ lang.transport_country }}</th>
                        <th colspan="3">{{ lang.options }}</th>                       
                    </tr>
                </thead>              
                <tbody>
            {% endif %}             
                    <tr>
                        <td>{{ loop.index }}</td>
			<td>{{ entity.country_id }}</td>
                        <td class="center">
                            {% for country in countries if entity.country_id == country.id %} 
                                {{ country.name }}
                            {% endfor %}                             
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            {% if user.level in ['1','2'] %}                            
                                <a href="#" data-href="{{ constant("CMS_URL") }}/admin/{{ module }}/delete/{{ courier.id }}/{{ type.id }}/{{ entity.region_id }}/{{ entity.id }}.html" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-remove"></i></a>
                            {% endif %}
                        </td>                                                
                    </tr>
                    
            {% if loop.last %}</tbody></table>{% endif %}
        {% endfor %}

                       {% include 'admin/other/pages.twig' %}            
        </div>
    </div>
</div>

    {% include 'admin/other/confirm.twig' %} 

{% endblock %}