{% extends "templates/base.twig" %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block content %}
    <div class="row profile-page">
        <div class="col-xs-12">
            {% include 'templates/customer/top.twig' %}                        
            {% include 'templates/other/notify.twig' %}

            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                    <form class="form-horizontal" method="post" action="{{ server('PHP_SELF') }}">
                        <div class="form-group">
                            <label class="col-sm-4 col-xs-12 control-label">{{ lang.c_password3 }}</label>
                            <div class="col-sm-8 col-xs-12">
                                <input type="password" class="form-control" name="pass_old" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-xs-12 control-label">{{ lang.c_password }}</label>
                            <div class="col-sm-8  col-xs-12">
                                <input type="password" class="form-control" name="pass" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-xs-12 control-label">{{ lang.c_password2 }}</label>
                            <div class="col-sm-8 col-xs-12">
                                <input type="password" class="form-control" name="pass2" value="">
                            </div>
                        </div>

                        <input type="hidden" name="action" value="password" />
                        <input type="hidden" name="code" value="" />                            
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                                <button type="submit" class="btn btn-default" onclick="setCode();">{{ lang.c_save }}</button>
                            </div>
                        </div>
                    </form>
                            
                    {% include 'templates/customer/bottom.twig' %}
                </div>
            </div>
        </div>
    </div>    
{% endblock %}