{% extends "admin/base.twig" %}

{% block content %}
<h3 class="page-title">{{ pageTitle }}
</h3>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase">Simple Table</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <a href="?action=add">
                        <button id="sample_editable_1_new" class="btn sbold green"> {{ lang.add_new }}
                            <i class="fa fa-plus"></i>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>        
        <div class="table-scrollable">
        {% for trans in attribute(entities, constant('LOCALE')) %}
            {% if loop.first %}
                <table id="example" class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                <thead>
                    <tr>
                        <th>Slider</th>
                        <th>{{ lang.title }}</th>
                        <th>{{ lang.order }}</th>
                        <th class="text-center">{{ lang.active }}</th>
                        <th class="text-center">{{ lang.up }}</th>
                        <th class="text-center">{{ lang.down }}</th>
                        <th class="text-center">{{ lang.edit }}</th>                         
                        <th class="text-center">{{ lang.delete }}</th>                       
                    </tr>
                </thead>              
                <tbody>
            {% endif %}                       
                    <tr class="{% if parameter("id") == trans.id %}active{% endif %}">
                        <td class="col-md-2" style="vertical-align: middle;">
                        {% if trans.file %}
{#                           {% if trans.url %}<a href="{{ url }}/{{ trans.file }}" title="{{ trans.title }}" target="{{ trans.target }}"><img width="200" src="{{ url }}/{{ trans.file }}" alt="{{ trans.title }}" /></a>#}
{#                           {% else %}#}
                            <a href="{{ url }}/{{ trans.file }}" class="fancybox"><img width="200" src="{{ url }}/{{ trans.file }}" alt="{{ trans.title }}" /></a>
                        {% else %}
                           <span class="red">Brak pliku</span>
                        {% endif %}
                        </td>
                       <td>{{ trans.title }}</td>
                       <td>{{ trans.order }} </td>
                       <td class="text-center">
                           {% if trans.active == 1 %}<i class="fa fa-check" alt="{{ lang.yes }}" title="{{ lang.yes }}"></i>{% else %}<i class="fa fa-ban" alt="{{ lang.no }}" title="{{ lang.no }}"></i>{% endif %}
                        </td>
                        <td class="text-center">
                        {% if not loop.first %}
                           <a href="?id={{ trans.id }}&amp;action=up" title="{{ lang.move_up }}">
                               <i class="fa fa-arrow-up"></i>
                           </a>
                        {% endif %}
                        </td>
                        <td class="text-center">
                        {% if not loop.last %}
                           <a href="?id={{ trans.id }}&amp;action=down" title="{{ lang.move_down }}">
                               <i class="fa fa-arrow-down"></i>
                           </a>
                        {% endif %}
                        </td>                        
                        <td class="text-center">
                           <a href="?id={{ trans.id }}&amp;action=edit" title="{{ lang.edit }}">
                              <i class="fa fa-edit"></i>
                           </a>
                        </td>
                        <td class="text-center">                            
                            <a href="#" data-href="?id={{ trans.id }}&amp;action=delete" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-remove"></i></a>
                        </td>
                       </tr>

            {% if loop.last %}</tbody></table>{% endif %}
        {% endfor %}

                        {% include 'admin/other/pages.twig' %} 
        </div>
    </div>
</div>

{% include 'admin/other/confirm.twig' %}

{% endblock %}