{% set slugs = selected|replace({'.html':''})|split('/') %}

<h3>{{ lang.shop_categories }}</h3>
<ul class="nav nav-pills nav-stacked">
    {% for entity in categories %}
        <li role="presentation" class="{% if entity.slug in slugs or entity.show_expanded %}active{% endif %}{% if entity.slug in slugs %} selected{% endif %}">
            <a href="{{ entity.url }}">{% if entity.subcategories %}<span class="glyphicon glyphicon-menu-right" style="margin-right: 5px;"></span>{% endif %}{{ entity.name }}</a>
        {% if entity.subcategories %}
            <ul class="submenu">
                {% for subcategory in entity.subcategories %}
                    <li {% if entity.slug in slugs and subcategory.slug in slugs %}class="active selected"{% endif %}><a href="{{ subcategory.url }}">{{ subcategory.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}    
        </li>        
    {% endfor %}
</ul>


{#<h3>{{ lang.shop_categories }}</h3>
<ul class="nav nav-pills nav-stacked">
    {% for entity in categories %}
        <li role="presentation" {% if selected == entity.url or 'entity.slug' in selected %}class="active"{% endif %}>
            <a href="{{ entity.url }}">{% if entity.subcategories %}<span class="glyphicon glyphicon-menu-right" style="margin-right: 5px;"></span>{% endif %}{{ entity.name }}</a>
        {% if entity.subcategories %}
            <ul class="submenu">
                {% for subcategory in entity.subcategories %}
                    <li {% if selected == subcategory.url or 'subcategory.slug' in selected %}class="active"{% endif %}><a href="{{ subcategory.url }}">{{ subcategory.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}    
        </li>        
    {% endfor %}
</ul>#}