{% block content %}
<script type="text/javascript">
    var hasThreshold = '{{ shoppingThresholdInfo.hasThreshold }}';
   
    if (hasThreshold) {
        $("#tooltip1").show();
        drawTooltip();        
    }
    
    function drawTooltip() {
        var tooltip1 = $('#tooltip1');
        var thTooltip = tooltip1.parent();            
        var offset = thTooltip.offset();

        tooltip1.offset({ top: offset.top - 50, left: offset.left - 50});    
    }    
</script>

<table id="basket-table" class="table table-bordered table-basket">
    <thead>
        <tr>
            <th>{{ lang.photo }}</th>
            <th>{{ lang.name }}</th>
            <th class="text-center">{{ lang.old_price }}</th>
            <th class="text-center">                        
                <div role="tooltip" class="tooltip fade top in" id="tooltip1" style="display: none;">
                    <div class="tooltip-arrow" style="left: 50%;"></div>
                    <div class="tooltip-inner">{{ pageTooltipYourPrice|raw }}</div>                                
                </div>    
                {{ lang.your_price }}
            </th>
            <th>{{ lang.quantity }}</th>
            <th>{{ lang.total }}</th>
            <th class="text-center">{{ lang.c_delete }}</th>
        </tr>
    </thead>
    <tbody>
        {% set first_mega_offer = 1 %}
        {% for entity in basket %}
            {% if entity.mega_offer and first_mega_offer %}
                <tr class="mega-offer-header">
                    <td colspan="2"><span class="mega-offer-label">{{ lang.mega_offer}}</span></td>
                    <td><span class="mega-price">{{ lang.mega_price }}</span></td>
                    <td colspan="4"><span class="mega-price">{{ lang.mega_price }}</span></td>
                </tr>
                {% set first_mega_offer = 0 %}
            {% endif %}        
            <tr data-basket-id='{{ entity.id }}' class="product">
                <td>
                    <a href="{{ entity.url }}">
                        {% if entity.image %}
                            <img class="image" src="{{ entity.image }}" alt="{{ entity.name }}" />
                        {% else %}
                            <img class="image" src="{{ constant("CMS_URL") }}/files/no-picture.png" alt="{{ entity.name }}" />
                        {% endif %}
                    </a></td>
                <td class="product-name" style="width:70%;">
                    <a href="{{ entity.url }}" title="{{ entity.name }}">{{ entity.name }}</a>                     
                    <br />
                    <small>{{ entity.desc }}</small>
                </td>
                <td class="text-center" style="width:10%;">{{ entity.price_gross }}</td>
                <td class="text-center {% if entity.price_gross != entity.price_after_discount %}red{% endif %}" style="width:10%;">
                    {{ entity.price_after_discount }}
                </td>
                <td><a href='#' class='qty' data-action='remove'>- </a><input name='product_qty' class='product_qty' value="{{ entity.qty }}" data-available='{{ entity.available }}' /><a href='#' class='qty' data-action='add'> +</a></td>
                <td class='product-total'>{{ entity.sum }}</td>
                <td class="text-center">
                    <a href="#" class="delete">
                        <img src="{{ constant("TPL_URL") }}/images/delete.png" alt="{{ lang.basket_delete }}">
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>            
</table>

{% endblock %}