{% extends "admin/base.twig" %}

{% block content %}
<h3 class="page-title">{{ pageTitle }}
</h3>

{% if url_back %}
    <a class="btn btn-default" href="{{ url_back }}"><i class="fa fa-arrow-left"></i> {{ lang.btn_back }}</a><br /><br /> 
{% endif %}
   
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase">Simple Table</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="table-scrollable">
        {% for entity in entities %}
            {% if loop.first %}
                <table id="example" class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                <thead>
                    <tr>
                        <th>{{ lang.lp }}</th>
                        <th>{{ lang.id }}</th>
                        <th>Url </th>
                        <th>{{ lang.method }}</th>
                        <th>{{ lang.params }}</th>
                        <th>{{ lang.fields }}</th>
                        <th>{{ lang.result }}</th>
                        <th>IP</th>
                        <th>{{ lang.date_add }}</th>
                    </tr>
                </thead>              
                <tbody>
            {% endif %}             
                    <tr>
                        <td>{{ interval + loop.index }}</td>
			<td>{{ entity.id }}</td>
                        <td>{{ entity.url }}</td>                
                        <td>{{ entity.method }}</td>
                        <td>{{ entity.params }}</td>
                        <td>{{ entity.fields }}</td>
                        <td><div style="overflow:auto;width:300px;">{{ entity.result|raw }}</div></td>
                        <td>{{ entity.ip }}</td>
                        <td>{{ entity.date_add|date("Y-m-d H:i:s") }}</td>             
                    </tr>                 
                    
            {% if loop.last %}</tbody></table>{% endif %}
        {% endfor %}  
        
            {% include 'admin/other/pages.twig' %} 
        </div>
    </div>
</div>
{% endblock %}