{% extends "admin/base.twig" %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript">
       $(document).ready(function () {
           {% for row in static('Cms','langs') %}
                   toggleEditor("edytor{{ row.code }}");
           {% endfor %}          
       });
    </script>
{% endblock %}

{% block content %}
<h3 class="page-title">{{ pageTitle }}</h3>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-social-dribbble font-green"></i>
            <span class="caption-subject font-green bold uppercase">Simple Table </span>
        </div>
    </div>
    <div class="portlet-body form">
        <ul class="nav nav-tabs">  
            {% for row in static('Cms','langs') %}
            <li {% if row.code == constant('LOCALE') %}class="active"{% endif %}>
                <a href="#tab_{{ row.code }}" data-toggle="tab" aria-expanded="true"> {{ attribute(lang, row.code) }} 
                <img src="{{ constant('TPL_URL') }}/assets/global/img/flags/{{ row.code }}.png" alt="{{ row.name }}" title="{{ row.name }}" />
                </a>                
            </li>
            {% endfor %}
        </ul>

        <form method="post" class="form-horizontal" action="{{ server('PHP_SELF') }}" enctype="multipart/form-data"> 
        <div class="tab-content">            
            {% for row in static('Cms','langs') %}                                          
                <div class="tab-pane fade {% if row.code == constant('LOCALE') %}active in{% endif %}" id="tab_{{ row.code }}">                
                        <div class="form-body">  
                        {% for tran in attribute(entities, row.code) if tran.name == parameter('name') %}
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ lang.title }}
                                </label>
                                <div class="col-md-4">
                                    <input name="{{ row.code }}[title]" type="text" class="form-control" value="{{ tran.title }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ lang.content }}
                                </label>
                                <div class="col-md-4">
                                    <textarea id="edytor{{ row.code }}" class="edytor form-control" rows="3" name="{{ row.code }}[content]">{{ tran.content|raw }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ lang.info }}
                                </label>
                                <div class="col-md-4">
                                    {{ entities[constant('LOCALE_ADMIN')][tran.name]['info']|raw }}
                                </div>
                            </div>  

                        {% else %}
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ lang.title }}
                                </label>
                                <div class="col-md-4">
                                    <input name="{{ row.code }}[title]" type="text" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ lang.content }}
                                </label>
                                <div class="col-md-4">
                                    <textarea id="edytor{{ row.code }}" class="edytor form-control" rows="3" name="{{ row.code }}[content]"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ lang.info }}
                                </label>
                                <div class="col-md-4">
                                </div>
                            </div>                         
                        {% endfor %}      
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="hidden" id="action" name="action" value="save" />
                                    <input type="hidden" name="name" value="{{ parameter("name") }}" />                                                      
                                    <button class="btn green" type="submit">{{ lang.btn_save }}</button>
                                    <a href="?" class="btn default">{{ lang.btn_cancel }}</a>
                                </div>
                            </div>
                        </div>                
                </div>                                                                  
            {% endfor%}
        </div>   
        </form>
    </div>
</div>
{% endblock %}























{#<div id="pageContent">

   {if isset($aDesc)}
      <form id="form" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
            {foreach from=$aDesc item=v}
               <div id="divEdit{$v.lang_id}" class="lang">
                  <table class="tableEdit" border="0" cellspacing="0" cellpadding="0">
                     <tr>
                        <td class="vertical w150"><img src="{$smarty.const.TPL_URL}/img/flags/{$v.lang_code}.gif" alt="{$v.lang_name}" title="{$v.lang_name}" /> {$lang.title}:</td>
                        <td><input class="inpText w600" type="text" name="title[{$v.lang_id}]" value="{$v.title}" /></td>
                     </tr>
                     <tr>
                        <td class="vertical"><img src="{$smarty.const.TPL_URL}/img/flags/{$v.lang_code}.gif" alt="{$v.lang_name}" title="{$v.lang_name}" /> {$lang.desc}:</td>
                        <td><textarea id="edytor{$v.lang_id}" class="edytor" name="desc[{$v.lang_id}]">{$v.desc}</textarea></td>
                     </tr>
                     <tr>
                        <td class="vertical">Info:</td>
                        <td>{$v.info|nl2br}</td>
                     </tr>
                  </table>
               </div>
               <div class="break"></div>
            {/foreach}

         <table class="tableEdit" border="0" cellspacing="0" cellpadding="0">
            <tr>
               <td></td>
               <td class="center">
                  <input type="hidden" id="action" name="action" value="save" />
                  <input type="hidden" name="name" value="{$aDesc.1.name}" />
                  <input type="image" src="{$smarty.const.CMS_URL}/public/img/admin/{$language}/btnSaveItem.png" />
               </td>
            </tr>
         </table>
      </form>
      {/if}
</div>#}